{{> menu}}


      
      
      <section class ="ui two column grid segment">
        
        <div class="ui column">
          <h2> Welcome to the Movie Collection App!</h2>
          <p>
            This app will allow people to make movie lists for their friends!
          </p>
          
          <div class="buttons">
            <button class="ui blue button">
              Read More <i class="arrow circle right icon"></i>
            </button>
            <button class="ui green button">
              Like it? <i class="thumbs up icon"></i>
            </button>
            <button class="ui red button">
              Who are you? <i class ="user icon"></i>
            </button>    
          </div>
            <div id="readmore" class="ui one column message">
          <p>
            We aim to add additional functions to this great movie app!
          </p>
         </div>
          <div id="welcomeuser" class="ui message"> </div>
        </div>
        
      
        
        <div class ="ui four wide column">
          
          <img class="ui small circular image" src="https://cdn.glitch.global/1dfdd56f-7283-4e52-814b-aa46f1158580/MV5BOGE2NWUwMDItMjA4Yi00N2Y3LWJjMzEtMDJjZTMzZTdlZGE5XkEyXkFqcGdeQXVyODk4OTc3MTY%40._V1_.jpg?v=1647789221533">
         
          <br> 
          <img class="ui small circular image" src="https://cdn.glitch.global/1dfdd56f-7283-4e52-814b-aa46f1158580/MV5BMjM2MDgxMDg0Nl5BMl5BanBnXkFtZTgwNTM2OTM5NDE%40._V1_.jpg?v=1647789389771">
        </div>
        
        <div class ="ui four wide column">
          <img class="ui small circular image" src="https://cdn.glitch.global/1dfdd56f-7283-4e52-814b-aa46f1158580/MV5BMTMxNTMwODM0NF5BMl5BanBnXkFtZTcwODAyMTk2Mw%40%40._V1_.jpg?v=1647789284438">
          
          <br>
          <img class="ui small circular image" src="https://cdn.glitch.global/1dfdd56f-7283-4e52-814b-aa46f1158580/MV5BZjdkOTU3MDktN2IxOS00OGEyLWFmMjktY2FiMmZkNWIyODZiXkEyXkFqcGdeQXVyMTMxODk2OTU%40._V1_.jpg?v=1647789358233">
          
        </div>
        
    </section>
      
   </section>
    
